@model IEnumerable<AGL_WebApplication.Models.GenderViewModel>

@{
    ViewData["Title"] = "Below are the Cat names grouped by people gender";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="heading">
    <h4>@ViewData["Title"]</h4>
</div>
<fieldset class="fieldset">
    <div class="margin10">

        @foreach (var gender in Model)
        {
            <h4>@gender.Gender</h4>
            <ul>
                @foreach (var cat in gender.Cats)
                {
                    <li>@cat.Name</li>
                }
            </ul>
        }
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
</fieldset>
