@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome AGL Developer test</h1>
    Programming challenge
    <br />
    A json web service has been set up at the url: http://agl-developer-test.azurewebsites.net/people.json
    <br />
    You need to write some code to consume the json and output a list of all the cats in alphabetical order under a heading of the gender of their owner.
    <br />
    You can write it in any language you like. You can use any libraries/frameworks/SDKs you choose.
    <br />
    Example:
    <br />
    Male<br />
    <br />
    Angel<br />
    Molly<br />
    Tigger<br />
    Female
    <br />
    Gizmo<br />
    Jasper
</div>
